@charset "utf-8";

/* ---------------------------------- */
/* Chapter 11: Layout with Styles     */
/* Section: Making Elements Float	  */
/* ---------------------------------- */


/* CSS RESET
------------------------------------------------ */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

/* Note from Bruce: The Meyer Reset includes this rule, but I've commented it out so it doesn't take effect. If it weren't commented out, it would turn off the numbers before list items in an ol, and the bullets before list items in an ul. 
ol, ul {
	list-style: none;
} */

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* GENERAL
---------------------------------------------- */
body {
	color: #1d3d76;
	font: 100% "Trebuchet MS", Verdana, sans-serif;
	padding-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.logo {
	color: #b74e07;
	font-weight: bold;
}

h1 {
	font-size: 1.5em; /* 24px/16px */
	margin-bottom: .75em;
	text-transform: lowercase;
}        

h2 {
	font-size: 1.375em; /* 22px/16px */
}

p {
	margin: 0 0 .5em;
	padding-right: 10px;
}

/* link states */
a {
	padding: .2em;
}

a:link {
	text-decoration: none;
	color: #597dbd;
}

a:visited {
	text-decoration: none;
	color: #597dbd;
}

a:focus,
a:hover,
a:active {
	background: #f3cfb6;
	text-decoration: underline;
}

a:hover.current {
	text-decoration: none;
}

a:hover.current {
	cursor: default;
	text-decoration: none;
}


/* CONTAINERS
---------------------------------------------- */
#container {
	background: url(../img/bg-bluebench.jpg) repeat-y;
	margin: 20px auto;
	max-width: 950px;
	width: 90%;
    padding: 30px 10px 0 0;
}

#page {
	background: #fff;
	padding: 10px 10px 10px 0;
	max-width: 940px;
	width: 97.9167%; /* 940px/960px */
}

#main {
	float: left;
	width: 71%;
}

#related {
	margin-left: 72%;
}

#footer {
	margin-top: 10px;
}


/* MASTHEAD
---------------------------------------------- */
#masthead {
	margin-bottom: 30px;
}

/* Logo */
.logo {
	font-size: 2.5em; /* 40px/16px */
	margin: 0;
}

.logo a {
	color: #1d3d76;
	padding: 0;
}

.logo a:hover {
	background: transparent;
	color: #597dbd;
	text-decoration: none;
}

.logo span {
	color: #1d3d76;
	font-size: 0.3em; /* 12px/40px */
	font-style: italic;
	font-weight: normal;
}

input,
label,
.entry .date,
.continued ,
.sidebar p,
.archive ol  {
	font-size: .75em; /* 12px/16px */
}

input[type="text"] {
	padding: 2px 3px;
	width: 150px;
}

 
/* Site Nav */
.nav li {
	font-size: .75em; /* 12px/16px */  /* makes the bullets smaller */
}

.nav li a {
	font-size: 1.5em; /* 18px/12px */  /* makes the linked text larger than the bullets */
}	

.nav li:first-child {
	list-style: none;
}


/* CONTENT
---------------------------------------------- */
/* Blog snippet */
.entry {
	margin: 0 .5em 2em 0;
}

.entry h2 {
	font-size: 1.25em; /* 20px/16px */
    line-height: 1;
}

.continued,
.entry .date {
	text-align: right;
}

.entry .date {
	line-height: 1;
	margin: 0 1em 0 0;
	padding: 0;
}

.continued {
	font-style: italic;
	margin-top: -5px;
}

/* Photos */
.intro {
	margin: -5px 0 0 110px;
}

.photo {
	float: left;
	height: 75px;
	width: 100px;
}

.photo a {
	margin: 0;
	padding: 0;
}


/* SIDEBAR
---------------------------------------------- */
.sidebar {
	background: #f5f8fa;
	padding: 10px;
}

aside h2 {
	font-size: .9375em; /* 15px/16px */
	margin-bottom: 3px;
	text-transform: lowercase;
}

.feature {
	font-style: italic;
}

/* Archive */
.archive ol {
	list-style: disc; /* changes list items from numbers to bullets */
	padding-left: 18px;
}

.archive .continued {
	margin-top: 0;
}


/* FOOTER
---------------------------------------------- */
#footer h1 {
	font-size: 1em;
	margin-bottom: .25em;
	padding-top: .25em;
}

#footer p {
	font-size: .6875em;
}

.thumbnails {
	list-style: none;
	padding-top: 4px;
}