@charset "UTF-8";

body {
	font: 100% "Palatino Linotype", Palatino, serif;
}

h1,
h2 {
	font: 1.375em "Arial Black", Arial, sans-serif;
}

h2 {
	font-size: .9375em;
}

p {
	/* Can't combine these into
		font shorthand. */
	font-size: .875em;
	line-height: 1.6;
}

em,
a:link,
a:hover {
	font-weight: bold;
}

/* Table of Contents navigation */
#toc a {
	font-size: .75em;
}


