@charset "UTF-8";

body {
	font-family: "Palatino Linotype", Palatino, serif;
}

h1,
h2 {
	font-family: Arial, Helvetica, sans-serif;
}

h2 {
	font-weight: normal;
}

em,
a:link,
a:hover {
	font-weight: bold;
}

